@font-face {
  font-weight: 300;
  font-family: 'Futura PT';
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.rawgit.com/TatishaS/svoimi/master/fonts/FTN35.woff')
    format('woff');
}

@font-face {
  font-weight: 500;
  font-family: 'Futura PT';
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.rawgit.com/TatishaS/svoimi/master/fonts/FTN55.woff')
    format('woff');
}

@font-face {
  font-weight: 800;
  font-family: 'Futura PT';
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.rawgit.com/TatishaS/svoimi/master/fonts/FTN75.woff')
    format('woff');
}
